/*CSS Reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, a, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*:after{
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

a{
  text-decoration: none;
  color: var(--white-00);
}

input, select{
    outline: none;
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;  
}

select{
    -webkit-appearance: none;
}

body{
    background-color: #252E2A;
}

.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------Text Styles----- */

h1{
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
}

h2{
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
}

:root{
	font-family: 'Cabin';
    --white-00:#FFFFFF;
	--white-90:#E6E6E6;
	--white-75:#BFBFBF;
	--white-50:#808080;
	--black-70:#4E4E4E;
	--black-80:#333333;
	--black-85:#262626;
	--main:#E24420;
    color: var(--white-00);
}

/* header style */

header{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99;
    width: 100%;
    padding: 20px;
    background-color: #16201B;
}

header .logo{
    width: 200px;
    margin-bottom: 20px;
}

header ul{
    display: flex;
    gap: 16px;
    text-align: center;
}

header li{
    font-weight: 400;
    font-size: 14px;
}

header li a{
    color:#FFFFFF;
    opacity: 0.6;
    transition: all ease-in 300ms;
}

header li a.active{
    opacity: 1;
}

header li a:hover{
    cursor: pointer;
    opacity: 1;
    transition: all ease-in 300ms;
}

@media (min-width:768px) {
    header{
        padding: 20px;
    }
    header .logo{
        margin-bottom: 20px;
    }
    header ul{
        gap: 48px;
    }
}

@media (min-width:1280px) {
    header{
        padding: 24px 48px;
    }
    header ul{
        gap: 60px;
    }
}

body{
    position: relative;
}

.bu-id{
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    color: #FFFFFF;
    opacity: 0.4;
}